[submodule "submods/third_party/labio"]
	path = submods/third_party/labio
	url = https://github.com/ColtonKoop/labio.git
[submodule "submods/labio"]
	path = submods/labio
	url = https://github.com/ColtonKoop/labio.git
[submodule "submods/Audio"]
	path = submods/Audio
	url = https://github.com/PaulStoffregen/Audio.git
